h1{
    color:navy;
    font-size: 15pt;
    background-color: green;
}

#parraf1 {
    color: royalblue;
    text-align: center;
    font-family: cursive;
    border:20px solid tomato;
    background-color: red;
}
#parraf2 {
    color: red;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.classe{
    text-align: right;

}

p.classe{
    color: white;
    background: black;
}
ul{
    /*list-style-image: url(https://s3.amazonaws.com/impressivewebs/2014-02/w3schools-logo.jpg);*/
    list-style-type: lower-roman
}

#cabecera{
    width: 100%;
    height: 40%;
    background-color: blue;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color:black;
    border-bottom-width: 2px;

}
#lateral{
    width: 30%;
    height: 100%;
    background-color: brown;
    float: left;
    text-align: left;
    border-right-style: solid;
    border-right-color: chartreuse;
    border-right-width: 2px;
}
#contenedor{
    height: 60%;
    width: 100%;
    overflow:hidden;
}
#centro{
    width: 69.8%;
    height: 100%;
    background: blueviolet;
    float: right;


}

#centro p{
    text-align: left;
}

input, textarea{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}