h1{
    color:navy;
    font-size: 50pt;
    background-color: green;
}

#parraf1 {
    color: royalblue;
    text-align: center;
    font-family: cursive;
    border:20px solid tomato;
    background-color: red;
}
#parraf2 {
    color: red;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.classe{
    text-align: right;

}

p.classe{
    color: white;
    background: black;
}
ul{
    list-style-image: url(https://s3.amazonaws.com/impressivewebs/2014-02/w3schools-logo.jpg);
    list-style-type: lower-roman
}