* {
    margin: 0px;
    padding: 0px;
}

.typer {
    display: inline-flex;
}

.typer>.text {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    animation-duration: 4s;
    animation-name: typer;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13, end);
    animation-direction: alternate;
    border-right: 3px solid black;
}

@keyframes typer {
    0% {
        width: 0%;
    }
    80% {
        width: 105%;
        border-right: 3px solid black;
    }
    95% {
        width: 105%;
        border-right: 3px none black;
    }
    100% {
        width: 105%;
        border-right: 3px solid black;
    }
}