* {
    margin: 0px;
    padding: 0px;
}

#typer {
    display: inline-flex;
}

#typer>.text {
    box-sizing: border-box;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    /* animation-duration: calc(0.35s * 104);
    animation-timing-function: steps(104, end); */
    animation-name: typer;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-right: 3px solid black;
}

@keyframes typer {
    0% {
        width: 0%;
    }
    /* 80% {
        width: 100%;
        border-right: 3px solid black;
    } */
    95% {
        width: 100%;
        /* border-right: 3px none black; */
    }
    100% {
        width: 100%;
        /* border-right: 3px solid black; */
    }
}